{:kotoba.app/id "cloud.itonami.isic-949", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiglsqj5juapjlupfert3gvblz6wqapl2wftyzwbdkhj377adjipta", :kotoba.app/embed-url "ipfs://bafkreiglsqj5juapjlupfert3gvblz6wqapl2wftyzwbdkhj377adjipta", :published {:archive "https://kotobase.net/ipfs/bafkreiglsqj5juapjlupfert3gvblz6wqapl2wftyzwbdkhj377adjipta", :size 71859, :put-status 201, :get-status 200, :at "2026-08-15T13:53:31.494Z"}}
